# ⚠️ ARQUIVO DE CONFIGURAÇÃO LOCAL - NÃO COMMITAR!
# Este arquivo é apenas para desenvolvimento local

# Admin Credentials
ADMIN_USER=pollynne
ADMIN_PASSWORD=Ap240397

# Turso Database Configuration (For production/staging. If empty, local file 'local.db' will be used)
TURSO_DATABASE_URL=libsql://pollynne-enigmatic-capricorn-du.aws-us-east-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODEzMDY5NzcsImlkIjoiMDE5ZWJlMjgtMWYwMS03YTFmLWI0NmYtZGEyMzNhOGYzYzBmIiwicmlkIjoiMjRlYjExMzYtNzRmZC00Y2MyLWE5NjgtODQ0MDM3MGZlNzYzIn0.UWZj_LFxo_9yfycT9zO1qPuIxdUEkHocd7dLP7pWkTIcPtKiJ3h1CUTI9zRD-HYsY69h97s-uUB8kmdsnTGsAg
