# Admin Credentials
ADMIN_USER=pollynne
ADMIN_PASSWORD=Ap240397

# Turso Database Configuration (For production/staging. If empty, local file 'local.db' will be used)
TURSO_DATABASE_URL=libsql://pokechallenge-vercel-icfg-thbbwha5ph28efblai7tmeij.aws-us-east-1.turso.io
TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3NzA1NzM3MTEsImlkIjoiMDBmMTg5MTYtY2VhNC00NWVhLTgxOTEtMjJkNTk4M2EyMzAwIiwicmlkIjoiZjA1NzA0MWItM2RhMi00OGJkLWEyYWEtMzRkNjMyOTZlMDllIn0.lT7MQcb6tgfk4JNFkWmO169BiftQSCegR9FXSbuTCapivPfTm13poqgm7rWzpSsKJ9jwdwE5erZ00r4Ele5YCQ
