# WhatsApp
NEXT_PUBLIC_WHATSAPP_NUMBER=553195136154
# Instagram
NEXT_PUBLIC_INSTAGRAM_ACCESS_TOKEN=IGQVJXbDYzVDhiVEVGWW0zNmRzTXBxaWpLU1pmZAlaVzBqMzg1NXFKRU1fa1J3aTdCM21fVzNUUkRCdTBFWUktRjlWRFJYQzBGcEZArcjkwSzZAzdFhraTVfRl9MdWZAUcWJrSTBVLU0x
NEXT_PUBLIC_INSTAGRAM_BUSINESS_ACCOUNT_ID=17841408207834267
# Redes Sociais
NEXT_PUBLIC_INSTAGRAM=https://instagram.com/pollynne_beauty
NEXT_PUBLIC_FACEBOOK=https://facebook.com/pollynne_beauty

# Email
NEXT_PUBLIC_EMAIL=contato@pollynne.com.br
